.acerca-container {
  padding: 20px;
  margin: auto;
  max-width: 80%;
  text-align: center;
}

.acerca .title-section {
  margin: 0;
  margin-top: 7rem;
}

.who-iam {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.who-iam-desc {
  text-align: left;
  flex: 1;
  margin-left: 10rem;
}
.who-iam-desc {
  font-size: 1em;
}

.description {
  text-align: left;
  font-size: 1.2em;
  margin: 10px 0;
  width: 80%;
}

.profil-pic {
  border-radius: 50% 50% 0 0;
  text-align: center;
  flex: 0 0 200px;
  background-color: var(--color-dark);
}

.who-iam img {
  width: 300px;
  height: 300px;
  border-radius: 50% 50% 0 0;
  object-fit: cover;
  margin: auto;
  display: block;
}

.image-caption {
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-green300);
  margin-top: 8px;
  padding: 15px;
  width: 300px;
}

.skills-list,
.languages-list,
.interests-list {
  display: flex;
  justify-content: space-around;
  text-align: left;
  /* width: 70%; */
  margin: auto;
  color: var(--color-green700)
}

.additional-sections h2 {
  /* margin: 0; */
  margin-top: 2rem;
}

.skills-container{
  display: flex;
  justify-content: space-around;
}

.skills-container .sub-sub-title-section{
  margin: 0;
  margin-bottom: 1rem;
  color: var(--color-green500);
  text-align: left;
  font-size: 1.4em;
}

.skills-tecnicas .skills-list, .skills-blandas .skills-list {
  flex-direction: column;
  text-align: left;
}


/* MEDIA QUERY */

@media screen and (max-width: 1024px) {
  .who-iam {
    flex-direction: column;
    margin-top: 2rem;
  }
  .who-iam-desc {
    margin-left: 0;
    margin-top: 1rem;
  }
  .who-iam-desc p {
    margin: 0;
    font-size: 1em;
  }
  .who-iam img {
    width: 250px;
    height: 250px;
  }
  .image-caption {
    margin-top: 5px;
    width: 250px;
  }
  .description {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .who-iam img {
    width: 200px;
    height: 200px;
  }
  .image-caption {
    width: 200px;
  }
}

@media screen and (max-width: 590px) {
  .who-iam img {
    width: 150px;
    height: 150px;
  }
  .image-caption {
    padding: 5px;
    width: 150px;
  }
  .who-iam-desc {
    margin-top: 1rem;
  }
  .who-iam-desc p {
    font-size: 0.9em;
  }
  .description {
    font-size: 1em;
  }
}
@media screen and (max-width: 480px) {
  .who-iam img {
    width: 150px;
    height: 150px;
  }
  .image-caption {
    width: 150px;
    font-size: 0.6em;
  }
  .who-iam-desc {
    margin-top: 0.8rem;
  }
  .who-iam-desc p {
    font-size: 0.9em;
  }
  .description {
    font-size: 1em;
  }
}

