#navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  transition: 0.3s;
  width: 60%;
  padding: 1.5rem;
  border-radius: 40px;
}

.navbar-scroll {
  background-color: var(--color-white);
  /* box-shadow: 0 2px 4px rgba(0.5, 0.9, 0.5, 0.9); */
  box-shadow: var(--shadow-2xl);
  transition: 0.3s;
  margin: 0 auto;

  opacity: 0.9;
}

#navbar ul li {
  margin: 0 25px;
}

#navbar ul li a {
  color: var(--color-green600);
  text-decoration: none;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
}

#navbar ul li a:hover {
  border: 2px solid var(--color-green600);
  border-radius: 50px;
}

.active {
  background-color: var(--color-green600);
  color: var(--color-white) !important;
  border-radius: 50px;
}

.slash {
  background-color: var(--color-white);
  color: var(--color-green600);
  /* padding: 6px; */
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  border: 3px solid var(--color-beige);
  margin-left: 5px;
}

/* MEDIA QUERY */

@media screen and (max-width: 1359px) {
  #navbar ul {
    width: 65%;
  }
}
@media screen and (max-width: 1265px) {
  #navbar ul {
    width: 70%;
  }
  navbar ul li {
    margin: 0 12px;
  }

  #navbar ul li {
    margin: 0 15px;
  }

  .slash {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 3px;
  }
}

@media screen and (max-width: 1024px) {
  #navbar ul {
    width: 78%;
  }

  #navbar ul li a {
    padding: 9px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media screen and (max-width: 824px) {
  #navbar ul {
    width: 86%;
  }

}

@media screen and (max-width: 768px) {
  #navbar ul {
    width: 90%;
  }

  #navbar ul li {
    margin: 0 10px;
  }

  #navbar ul li a {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: var(--font-size-sm);
  }

  .slash {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 2px;
  }
}

@media screen and (max-width: 599px) {
  #navbar ul li {
    margin: 0 15px;
  }
  #navbar ul li a {
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--font-size-xs);
  }

  .slash {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #navbar ul {
    width: 98%;
  }
  #navbar ul li {
    margin: 0 4px;
  }
  #navbar ul li a {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
  }
}