/* Card.css */

.card {
  border: 1px solid #ddd;
  border-radius: 40px;
  overflow: hidden;
  margin: 16px;
  transition: transform 0.3s;
  opacity: 0.9;
}

.card-small {
  flex: 1 1 30%; /* Ancho del 30% */
  max-width: 30%;
}

.card-large {
  flex: 1 1 50%; /* Ancho del 50% */
  max-width: 50%;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: var(--shadow-2xl);
  transition: transform 0.3s;
}

.card-img-container {
  position: relative;
  float: right;
  width: 90%;
  border-radius: 10px 0 0 0;
}

.card-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 0 0 0;
}

.card-tech {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 48, 20, 0.7);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 10px 0 0 0;
}

.tech-url {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tech-url a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.5em;
}

.tech-url a:hover {
  color: #fdc168;
  text-decoration: underline;
}

.card:hover .card-tech {
  opacity: 1;
}

.card-content {
  padding: 16px;
  color: var(--color-green700);
}

.card-title {
  font-size: 1.5em;
  margin: 0 0 8px;
}

/* MEDIA QUERY */

@media screen and (max-width: 1024px) {
  .card-small,
  .card-large {
    flex: 1 1 calc(50% - 32px); /* Ajustar para dos columnas con márgenes */
    max-width: calc(50% - 32px);
  }
}

@media screen and (max-width: 768px) {
  .card-small,
  .card-large {
    flex: 1 1 100%; /* Una columna en pantallas pequeñas */
    max-width: 100%;
  }
  .card-title {
    font-size: 1.2em;
  }
  .card-description {
    font-size: 0.9em;
  }
  .tech-url a {
    font-size: 1.2em;
  }
  .card-tech {
    font-size: 1em;
  }
}

@media screen and (max-width: 590px) {
  .card-title {
    font-size: 1em;
  }
  .card-description {
    font-size: 0.8em;
  }
}
