.proyects {
  text-align: center;
}

.proyects h1 {
  margin-top: 13rem;
}

.proyects .firstName {
  display: block;
}




/* .proyects-content va pareciendo de manera lenta letra por letra */

.proyects-content {
  color: var(--color-green600);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 20px;
  width: 90%;
  margin: 3rem auto 5rem auto;

  animation: slide-bottom 3s ease;
}

@keyframes slide-bottom {
  10% {
    transform: translateY(10%);
    opacity: 1;
  }
  0% {
    transform: translateY(0);
    opacity: 0;
  }
}


/* CARDS */
/* Css a cuntinuar en card.css */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .proyects h1 {
    margin-top: 10rem;
  }

  .proyects-content {
    font-size: 15px;
  margin: 2rem auto 5rem auto;

  }
}
