.contact {
  max-width: 800px;
  margin: 5rem auto;
  color: var(--color-green600);
}

.contact-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.contact h2 {
  text-align: center;
}

.contact-item {
  margin-top: 50px;
}

.contact-form {
  display: none;
  background-color: var(--color-green300);
  padding: 20px;
  border-radius: 10px;
}

.active-form {
  display: block;
}

.sub-title-section {
  margin: 0;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  font-family: var(--bodyFont);
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--color-green600);
  /* border-radius: 5px; */
}

/* focus */
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

.form-group textarea {
  resize: vertical;
  height: 50px;
}

.contact-form button[type="submit"] {
  font-family: var(--bodyFont);
  background-color: var(--color-green600);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.contact-form button[type="submit"]:hover {
  background-color: var(--color-green500);
}
.form-message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: var(--color-green600);
  margin-bottom: 15px;
}

.show-form-btn {
  background-color: var(--color-green600);
  color: var(--color-white);
  border: none;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.show-form-btn:hover {
  background-color: var(--color-green500);
}

.validate-msg {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}

/* MEDIA QUERY */

@media screen and (max-width: 840px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }
  .form-message-header {
    flex-direction: column;
  }
  .contact-item {
    margin-top: 30px;
  }
  .show-form-btn{
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .contact {
    margin: 6rem auto;
    width: 95%;
  }
  .contact-form {
    padding: 10px;
  }
  .form-group input,
  .form-group textarea {
    padding: 5px;
  }
  .contact-form button[type="submit"] {
    padding: 5px 10px;
  }
  .show-form-btn {
    padding: 3px;
  }
}
