@media (max-width: 768px) {
  .footer {
    flex-direction: column !important;
  }
  .footer-copy {
    margin-bottom: 5px !important;
  }
  .footer-contact {
    margin-top: 5px !important;
  }
}
